<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Potato Farmer</title>
        <link href="../static/css/settings.css" rel="stylesheet">
        <link href="../static/css/home.css" rel="stylesheet">
        <link href='https://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <div class="crop_info_title">Crop Information</div>
        <div class="crop_info_container">
            <div class="crop_info_sub_container">
                <div class="crop_info_name"></div>
                <img class="crop_info_image" src="">

                <div class="crop_info_schedule_title">Humidity Schedule</div>
                <table class="crop_info_humidity_table">
                    <thead>
                        <tr>
                            <th>Time</th>
                            <th>Humidity Function (%)</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>

                <div class="crop_info_schedule_title">Temperature Schedule</div>
                <table class="crop_info_temperature_table">
                    <thead>
                        <tr>
                            <th>Time</th>
                            <th>Temperature Function (˚C)</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>

                <div class="crop_info_schedule_title">Light Intensity Schedule</div>
                <table class="crop_info_light_table">
                    <thead>
                        <tr>
                            <th>Time</th>
                            <th>Light Intensity Function</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>

        <a href="/edit_crop_info">
            <div class="edit_crop_info_link">Edit Crop Information</div>
        </a>

        <div class="crop_list_title">Crop List</div>
        <div class="crop_list_container">
            <div class="crop_list"></div>
        </div>
        <a href="/add_crop">
            <div class="add_crop_link">Add Crop</div>
        </a>

        <div class="upload_settings">Select Crop & Upload Settings</div>
    </body>

    <script>
        let crop_names = {{crop_names|safe}}
        let crop_img_paths = {{crop_img_paths|safe}}
        let humidity_times = {{humidity_times|safe}}
        let humidity_functions = {{humidity_functions|safe}}
        let light_times = {{light_times|safe}}
        let light_functions = {{light_functions|safe}}
        let temperature_times = {{temperature_times|safe}}
        let temperature_functions = {{temperature_functions|safe}}
    </script>

    <script type="text/javascript" src="../static/js/home.js"></script>
</html>